@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
  height: 100%;
}

.mdc-label {
  color: white;
}

input[type=radio] {
  accent-color: red;
}

.main-panel {
  background: #16113a;
  overflow-x: hidden;
  height: 100%;
}

@media (min-width: 1025px) {
  .body {
    padding: 20px 20%;
    width: 100%;
    min-height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
  }
}

@media (max-width: 1024px) {
  .body {
    padding: 10px 5px;
    width: 100%;
    min-height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
  }
}


.padding-20-percent {

  @media (min-width: 1025px) {
    padding: 0 20%;
  }

  @media (max-width: 1024px) {
    padding: 0 10px;
  }
}

.flex-default {
  display: flex;
  flex-wrap: wrap
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flex-nowrap::-webkit-scrollbar {
  display: none;
}


.option-flex-center {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.option-flex-center-only-pc {

  @media (min-width: 1025px) {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
}


.option-flex-center-only-mobile {

  @media (max-width: 1024px) {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.option-flex-center-only-vertical {
  -webkit-justify-content: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

@media (max-width: 1025px) {
  table {
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

.close-box {
  background: white;
  opacity: 0.3;
}

.checks {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.checks input[type="checkbox"] { /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checks input[type="checkbox"] + label:before { /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px; /* 체크박스의 너비를 지정 */
  height: 21px; /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */
  content: '\2714'; /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}

.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  background: transparent;
  border-color: transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-primary {
  background: #2ac1bc !important;
  border: 1px solid #00fff7;
}

.btn-outline-secondary {
  border: 1px solid #00fff7;
  color: #00fff7;
}

.crawling-system {
  font-weight: bold;
  font-size: 18px;
}

.crawling-important {
  color: red;
  font-weight: bold;
}
